@model FSB.Models.ViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Документы</h1>

<p>
    <a asp-action="Create">Добавте документ</a>
</p>

<form asp-controller="Docs" asp-action="Index" method="get">
    <p>
        <select asp-for="DocTypes" asp-items="Model.Types">
            <option value="">All</option>
        </select>

        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FIO![0].FIO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FIO![0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FIO![0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FIO![0].place)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
 @foreach (var item in Model.FIO!)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FIO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.place)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
